@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    background: linear-gradient(to right,rgb(214, 11, 130),#c20fb9 ,#a80c79  );
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Itim', montserrat;
}
.body-container{
    width: 80vw;
    max-width: 80%;
    background-color:rgb(230, 240, 186) ;
    height: 70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-align: center;
}
.score{
    font-size:large;
    font-weight:bold;
}
#user-score{
    color:#c20fb9;
}
#total-score{
    color:#a80c79;
}
.qna-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.btn{
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#0a7a71,.15);
    
    border-radius: 4px;
    padding:10px;
    color:white;
    margin:6px;
    cursor:pointer;
    background:#a80c79 ;
}
.btn:hover{
    color:black;
    padding:15px;
}
.ans-options{
    padding:10px;
    order:3;
}
.btn-controls{
    padding:10px;
    order:4;
}
.hide{
    display:none;
}

p{
    background-color: cornsilk;
    display: inline-flex;
    align-items: left;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin:0;
    height: 70px;
    width:100px;
}